GOOGLE_API_KEY=API_KEY_HERE

ORCA_MODEL=gemini-3.6-flash

# if you have billing account for vertex ai
# GOOGLE_GENAI_USE_VERTEXAI=TRUE
# GOOGLE_CLOUD_PROJECT=your-project-id
# GOOGLE_CLOUD_LOCATION=global

COPERNICUSMARINE_SERVICE_USERNAME=username
COPERNICUSMARINE_SERVICE_PASSWORD=password

PYTHONUTF8=1
