# ignore .venv files
.venv/
venv/

# ignore .adk files
.adk/

# ignore .env files
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Databases
*.db